<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>
    	<typeAlias alias="Dto" type="com.javalec.ex.dto.BDto"/>
    	<typeAlias alias="UserDto" type="com.javalec.ex.dto.UserDto"/>
    	<typeAlias alias="BSearchDto" type="com.javalec.ex.dto.BSearchDto"/>
    	<typeAlias alias="BPageDto" type="com.javalec.ex.dto.BPageDto"/>
    	<typeAlias alias="SearchingPageDto" type="com.javalec.ex.dto.SearchingPageDto"/>
    	<typeAlias alias="CDto" type="com.javalec.ex.dto.CDto"/>
	</typeAliases>
</configuration>